<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>MERLAB Digital Logbook</title>
</head>
<body>

    <header>
        <h1>MERLAB Digital Logbook</h1>
    </header>

    <main>
        <div id="inputContainer">
            <form action ="{{url_for('machine_details', machine_id = 15)}}" method="post" class="form-container">

                <div class="row">
                    <label for="input1">Başlangıç Sıcaklığı(°C)</label>
                    <input type="text" id="input1" name="input1" autocomplete="off" maxlength="20" required>

                    <label for="input2">Bitiş Sıcaklığı(°C)</label>
                    <input type="text" id="input2" name="input2" autocomplete="off" maxlength="20" required>
                </div>

                <div class="row">
                    <label for="input3">Isıtma Hızı(°C/dk)</label>
                    <input type="text" id="input3" name="input3" autocomplete="off" maxlength="20" required>

                    <label for="input4">Atmosfer Ortamı</label>
                    <input type="text" id="input4" name="input4" autocomplete="off" maxlength="20" required>
                </div>
                
                    <label for="input5">Döngü Sayısı</label>
                    <input type="text" id="input5" name="input5" autocomplete="off" maxlength="20" required>
    
                <label>Gaz Debisi</label>
            <div class="radio-group">
                <input type="radio" id="input6_1" name="input6" value="Var" required>
                <label for="input6_1">Var</label>
                
                <input type="radio" id="input6_2" name="input6" value="Yok" required>
                <label for="input6_2">Yok</label>
            </div>

                <button class="button" type="submit">Kaydet & Bitir</button>
            </form>
        </div>
    </main>

    <footer>
        <p>© 2023 MERLAB</p>
    </footer>

</body>
</html>
